// home
$homeBackground: #eeeeee;

// header
$headerBackground: #fafafa;
$headerShadow: 0 2.5px 10px #9e9e9e;
$headerBorder: thin solid #9e9e9e;
$headerHeight: 60px;
$headerFontSize: 1.75rem;
$headerWidth: 45vw;

//contentWarp
$contentBackground: #fafafa;
$contentShadow: 0 2.5px 7.5px #9e9e9e;
$contentBorder: thin solid #9e9e9e;
$contentBorderRadius: 10px;

@mixin myHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin headerText {
  background-color: $headerBackground;
  box-shadow: $headerShadow;
  border-bottom: $headerBorder;
  height: $headerHeight;
  min-width: $headerWidth;
  font-size: $headerFontSize;
  line-height: $headerHeight;
  padding: 0 20px;
  text-align: center;
  font-weight: bolder;
}

@mixin userHeader {
  height: 5vh;
  background-color: #fff;
  width: 100vw;
  @include myHeader;
  .v-icon {
    margin: 0 10px;
  }
  .text {
    font-weight: bold;
    font-size: 1rem;
  }
}

@mixin contentWarp {
  background-color: $contentBackground;
  box-shadow: $contentShadow;
  border: $contentBorder;
  border-radius: $contentBorderRadius;
}
